<!DOCTYPE html>
<html lang="en" ng-app="listyApp" dir="rtl">	

  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/> <!-- this will make sure to view the movile version in mobile and tablet version in tablet -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>AngularJS Listy</title>  
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    
    <link href="css/style.css" rel="stylesheet">
    
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
     <script type="text/javascript" src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
     <script type="text/javascript" src="lib/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/services.js"></script>   
     <script type="text/javascript" src="js/filters.js"></script>	
        
      	<script type="text/javascript" src="i18n/angular-locale_ar-sa.js"></script>
      	<script type="text/javascript" src="lib/localize/localize.js"></script>

	<!-- to handle the sricky heading -->
	<script src="lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
	<script src="lib/jquery-scrolltofixed/jquery-scrolltofixed-min.js" type="text/javascript"></script>
	<script>
	    $(document).ready(function() {
	
	        // Dock the header to the top of the window when scrolled past the banner.
	        // This is the default behavior.
	
	        $('.header').scrollToFixed();
	
	
	        // Dock the footer to the bottom of the page, but scroll up to reveal more
	        // content if the page is scrolled far enough.
	
	        $('.footer').scrollToFixed( {
	            bottom: 0,
	            limit: $('.footer').offsettop
	        });
	
	
	        // Dock each summary as it arrives just below the docked header, pushing the
	        // previous summary up the page.
	
	        var summaries = $('.summary');
	        summaries.each(function(i) {
	            var summary = $(summaries[i]);
	            var next = summaries[i + 1];
	
	            summary.scrollToFixed({
	                marginTop: $('.header').outerHeight(true) + 10,
	                limit: function() {
	                    var limit = 0;
	                    if (next) {
	                        limit = $(next).offsettop - $(this).outerHeight(true) - 10;
	                    } else {
	                        limit = $('.footer').offsettop - $(this).outerHeight(true) - 10;
	                    }
	                    return limit;
	                },
	                zIndex: 999
	            });
	        });
	    });
	</script>
  </head>
  
  
  <body >
  
    <!-- *******************************  App Naviagation ****************************** -->
    <!-- ******************************************************************************* -->
    
    
   <nav class="navbar navbar-default navbar-static-top" role="navigation" ng-controller="navCtrl" >
      <!-- Brand and toggle get grouped for better mobile display -->
      
      <div class="navbar-header" >

        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brand_title" href="#" style="padding: 15px 15px;"">
        	<i class="fa fa-list-ol fa-2x" style="/* color: #d9534f; */ font-size: 1.5em;"></i>
        	<!-- Listy 0.3 -->
        	<!-- <img alt="Brand" src="imgs/listy-bird.png" style="height: 50px;width: 50px;"> -->
        </a>
      	
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
		<!-- user -->
        <ul class="nav navbar-nav navbar-right">
          	<li>
          		<a href="#" ng-click="setEnglishLanguage()">English</a>
          	</li>
          	<li>
          		<a href="#" ng-click="setArabicLanguage()">العربية</a>
          	</li>

    		
      		<li dropdown>
            	<a href="#" dropdown-toggle><span class="glyphicon glyphicon-user"><b class="caret"></b></a> 
	            <ul class="dropdown-menu">
	              <li><a href="#" ng-click="reloadDb()">Action (load db)</a></li>
	              <li><a href="#">Another action</a></li>
	              <li><a href="#">Something else here</a></li>
	              <li><a href="#">Separated link</a></li>
	              <li><a href="#">One more separated link</a></li>
	            </ul>
          	</li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    
   
    <!-- *******************************  App Collapsing Area ****************************** -->
    <!-- ******************************************************************************* -->
    

    
    
    
	<div class="container listy_list" ng-controller="ToDoListCtrl">

	 <!--  <div data-i18n="_Greeting_" style="margin-bottom: 10px;">
	  </div> -->


     	 <!-- <nav class="navbar navbar-default navbar-static-top header" role="navigation"> -->
<!--      	 <div class="navbar navbar-default navbar-static-top header" >
		      <div class="col-md-4 col-sm-4 col-md-4" >
		        	
		      </div>
		      	  Collect the nav links, forms, and other content for toggling
				  check if there is any item selected, if yes, enable the clear button.
				  <ANY ng-hide="true">{{ countSelectedItems =  (currentGroceryToDo.groceryToDoItems | filter : {selected : true} ).length  }}</ANY>
				  <ANY ng-hide="true">{{ checkSelectedItems =  ( countSelectedItems == 0) }}</ANY>
			    
		       <div class="col-md-4 col-sm-4 col-md-4" >
                	<input ng-model="query">
		       </div>
		        <div class="col-md-4 col-sm-4 col-md-4" >
	        		<div class="row" ng-controller="ModalDemoCtrl">
							<button class="btn btn-primary" ng-click="openConfirmationModel('sm','All selected items will be cleared, conintue?')" data-ng-disabled="checkSelectedItems" style="margin-bottom: 15px;">Clear All</button>
					</div>
		        </div>
		</div> -->
		
		<!--check if there is any item selected, if yes, enable the clear button. -->
		<ANY ng-hide="true">{{ countSelectedItems =  (currentGroceryToDo.groceryToDoItems | filter : {selected : true} ).length  }}</ANY>
		<ANY ng-hide="true">{{ checkSelectedItems =  ( countSelectedItems == 0) }}</ANY>
			    
		<nav class="navbar navbar-default header" role="navigation">
		
	
		    <center><h4>
					 Grocery 1 <span class="label label-danger" ng-if="!checkSelectedItems">{{countSelectedItems}}</span>
		    </h4> </center> 
		    <div class="center" style="margin: 5px; padding-bottom: 0px;">
			    <div>
			             <input type="text" class="pull-right" placeholder="Search" name="q"  ng-model="query">
			    </div>  
	       		 <div ng-controller="ModalDemoCtrl">
			             <button class="btn btn-primary pull-left" ng-click="openConfirmationModel('sm','All selected items will be cleared, conintue?')" data-ng-disabled="checkSelectedItems" style="margin-bottom: 15px;">Clear All</button>
			      </div>  
		    </div>
	    
		</nav>
		
		 <!-- </nav>  -->




	  
	  
	  <!-- check if there is any item selected, if yes, enable the clear button. -->
<!-- 	  <ANY ng-hide="true">{{ checkSelectedItems =  ( (currentGroceryToDo.groceryToDoItems | filter : {selected : true} ).length == 0) }}</ANY>
	  <div class="row" ng-controller="ModalDemoCtrl">
	  	<div class='col-md-12'>
			<button class="btn btn-primary" ng-click="openConfirmationModel('sm','All selected items will be cleared, conintue?')" data-ng-disabled="checkSelectedItems" style="margin-bottom: 15px;">Clear All</button>
		</div>
  	  </div>
 -->
	  <accordion close-others="true" >
	    <accordion-group ng-repeat="category in categories" ng-init="statusopen = false" is-open=statusopen ng-hide="currentGroceryCategoryItems == 0">
	  	 
	      	 <ANY ng-hide="true">{{ countOfSelectedToDoItemsInTheGruop =  (currentGroceryToDo.groceryToDoItems | filter: { groceryCategoryId : category.id, selected : true }).length }}</ANY>
	      	 
	      	 <accordion-heading>
	           <span class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusopen, 'glyphicon-chevron-right': !statusopen}"></span>
	            <label class="category-title"> {{category.name.ar}} </label>
	            <ANY ng-if="countOfSelectedToDoItemsInTheGruop != 0">
				    <span class="pull-left label label-danger">{{countOfSelectedToDoItemsInTheGruop}}</span>
				</ANY>
	           
	            <!-- <span class="pull-left badge">2</span> -->
	        </accordion-heading>
	        
	        <!-- filter the items list for the current category it, searching in the items groceryCategories ids -->
	        <ANY ng-hide="true">{{ currentGroceryCategoryItems = ( items | filter: { groceryCategories: { id : category.id }    }  | filter:query )  }}</ANY>
        	
        	<div class="item-list" ng-init="selectedCount = 0">
	        	<div class="row" ng-repeat="item in currentGroceryCategoryItems" ng-if="$index % 6 == 0" style="direction: rtl">
	        	
	        	  <!-- since our one row contains 4 items, we loop on the current row four items, the current item in the row will be in currentGroceryCategoryItems[i] -->
				  <div class="col-centered col-xs-6 col-sm-4 col-md-2 col-lg-2" 
				       ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3, $index + 4, $index + 5]" 
				       ng-if="currentGroceryCategoryItems[i] != null" style="direction: rtl">
			         
			         <!-- am item box -->
			         <!-- check if the current gorecery item exist in the current grocery todo items list, if found, set the todo item in the groeceryToDoItem -->
			         <ANY ng-hide="true">{{ groeceryToDoItem = ((currentGroceryToDo.groceryToDoItems | checkItemIdInItems: currentGroceryCategoryItems[i].id)[0]) }}</ANY>
			         <div class="thumbnail item">
						
						<!-- the item will be considered selected if the current item exist in the current GroceryToDo list and also the todo item attribute selected=true,
						that todo item  is updated by the toggleToDoItemSelection method that add / delte item to the todo list-->			         	
						<ANY ng-hide="true">{{selected = (groeceryToDoItem != null && groeceryToDoItem.selected == true ) }}</ANY>
						<div class="row">
 					        <div class="col-lg-12 col-md-12" >
					          <a href="" >
						             <img ng ng-click="toggleToDoItemSelection(currentGroceryToDo,currentGroceryCategoryItems[i])" ng-src="imgs/{{currentGroceryCategoryItems[i].name.en | lowercase }}.jpg" on-error-src="imgs/notfound.jpg" ng-class="{ 'item-image-selected' : selected}" style="padding: 4px 4px 4px 4px;">
					          </a>
					        </div>
						</div>
						<div class="row">
					        <div class="col-lg-12 col-md-12">
					          <!-- approach 1 of selection: send request first, then update ui with selection result second (pros: trusted, cons: delay) -->
					          <label class="center-block btn media-item-title" ng-model="selected" ng-click="toggleToDoItemSelection(currentGroceryToDo,currentGroceryCategoryItems[i])" btn-checkbox>{{currentGroceryCategoryItems[i].name.ar}}</label>
					          <!-- approach 2 of selection: select ui first, then send request, has problem with fast selection (pros: no delay, cons: untrusted) -->
					          <!-- <label class="center-block button-checkbox">
					          		<input type="checkbox" ng-checked="selected" ng-model="itemCheckBoxValue" ng-click="toggleToDoItemSelection(currentGroceryToDo,currentGroceryCategoryItems[i])"/>
								    <span>{{currentGroceryCategoryItems[i].name.ar}}</span>
							   </label> -->
					        </div>
					    </div>
					    <div class="row">
    						<div class="col-lg-3 col-md-3">
		       					<button ng-click="toggle = !toggle" class="pull-left media-item-button fa fa-pencil"></button>
		       				</div>
		       				<div class="col-lg-3 col-md-3">
		       					<span></span>
		       				</div>
		       				<div class="col-lg-3 col-md-3">
		       					<span></span>
		       				</div>
		       				<div class="col-lg-3 col-md-3">
		       				    <label class="pull-right fancy-checkbox">
							        <input type="checkbox"/>
							        <span></span>
							    </label>	
							</div>
					    </div>

				     </div>
				    
				  </div>
				</div>
			</div>

             <!-- ~ Nested Items -->
	    </accordion-group>
	  </accordion>
	  
	  
	  
	  	<!-- *******************************  Footer          ****************************** -->
    <!-- ******************************************************************************* -->
    


<!-- 	 	<div class="navbar navbar-default navbar-fixed-bottom container">
			<div class="container navbar-bottom-listy">
	
				<div class="row center-block">
					<h4 class='col-md-6'>Grocery 1</h4>
		            <h4 ng-if="!checkSelectedItems" class='col-md-6'>
					    <span class="pull-left label label-danger">{{countSelectedItems}}</span>
					</h4>					
				</div>
				<div class="row">
					<div class='col-md-12'>
						<input ng-model="query">
					</div>
					<div class='col-md-12'> 
						<div class="row" ng-controller="ModalDemoCtrl">
							<button class="btn btn-primary" ng-click="openConfirmationModel('sm','All selected items will be cleared, conintue?')" data-ng-disabled="checkSelectedItems" style="margin-bottom: 15px;">Clear All</button>
						</div>
					</div>
					
				</div>
	  	  </div>
				
		</div> -->
		
		
	</div> 
	
	  




	
	
	<!-- 	 <nav class="navbar navbar-default navbar-fixed-top container " role="navigation" ng-controller="navCtrl"  style="position:inherit; ;">
			      Collect the nav links, forms, and other content for toggling
				  check if there is any item selected, if yes, enable the clear button.
				  <ANY ng-hide="true">{{ checkSelectedItems =  ( (currentGroceryToDo.groceryToDoItems | filter : {selected : true} ).length == 0) }}</ANY>
		
			        <h4 class="center-block row" >
			          Grocery ToDo 1
			        </h4>
			        
				  <div class="row" ng-controller="ModalDemoCtrl">
				  

			        <div class='col-md-4 col-lg-4 col-sm-4'>
			          <text>dd</text>
			        </div>
				  	<div class='col-md-4 col-lg-4 col-sm-4'>
						<button class="btn btn-primary" ng-click="openConfirmationModel('sm','All selected items will be cleared, conintue?')" data-ng-disabled="checkSelectedItems" style="margin-bottom: 15px;">Clear All</button>
					</div>
			      </div>
		    </nav> -->




  </body>
</html>