<!doctype html>
<html>
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/> <!-- this will make sure to view the movile version in mobile and tablet version in tablet -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>AngularJS Listy</title>  
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    
    <link href="css/style.css" rel="stylesheet">
    
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
		<script type="text/javascript" src="lib/jquery/dist/jquery.js"></script>
 	    


  </head>
  <body>
<script>/**
 * Check a href for an anchor. If exists, and in document, scroll to it.
 * If href argument ommited, assumes context (this) is HTML Element,
 * which will be the case when invoked by jQuery after an event
 */
function scroll_if_anchor(href) {
    href = typeof(href) == "string" ? href : $(this).attr("href");
    
    // You could easily calculate this dynamically if you prefer
    var fromTop = 50;
    
    // If our Href points to a valid, non-empty anchor, and is on the same page (e.g. #foo)
    // Legacy jQuery and IE7 may have issues: http://stackoverflow.com/q/1593174
    if(href.indexOf("#") == 0) {
        var $target = $(href);
        
        // Older browser without pushState might flicker here, as they momentarily
        // jump to the wrong position (IE < 10)
        if($target.length) {
            $('html, body').animate({ scrollTop: $target.offset().top - fromTop });
            if(history && "pushState" in history) {
                history.pushState({}, document.title, window.location.pathname + href);
                return false;
            }
        }
    }
}    

// When our page loads, check to see if it contains and anchor
scroll_if_anchor(window.location.hash);

// Intercept all anchor clicks
$("body").on("click", "a", scroll_if_anchor);

</script>
<div ng-app="myapp" ng-controller="ctrl">
  <nav class="navbar navbar-default navbar-static-top" role="navigation" ng-controller="navCtrl" >
      <!-- Brand and toggle get grouped for better mobile display -->
      
      <div class="navbar-header" >

        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brand_title" href="#" style="padding: 10px 10px;"">
        	<i class="fa fa-list-ol fa-2x" style="color: #d9534f; font-size: 1.5em;"></i>
        	<!-- Listy 0.3 -->
        	<!-- <img alt="Brand" src="imgs/listy-bird.png" style="height: 50px;width: 50px;"> -->
        </a>
      	
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
		<!-- user -->
        <ul class="nav navbar-nav navbar-right">
          	<li>
          		<a href="#" ng-click="setEnglishLanguage()">English</a>
          	</li>
          	<li>
          		<a href="#" ng-click="setArabicLanguage()">العربية</a>
          	</li>

    		
      		<li dropdown>
            	<a href="#" dropdown-toggle><span class="glyphicon glyphicon-user"><b class="caret"></b></a> 
	            <ul class="dropdown-menu">
	              <li><a href="#" ng-click="reloadDb()">Action (load db)</a></li>
	              <li><a href="#">Another action</a></li>
	              <li><a href="#">Something else here</a></li>
	              <li><a href="#">Separated link</a></li>
	              <li><a href="#">One more separated link</a></li>
	            </ul>
          	</li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
<div id="fixed">
    My fixed bar
</div>


        
        
 
<!-- 


<div class="container" ng-controller="AccordionDemoCtrl">

  	   <div class='row'>
	    <div class='col-md-12'>
	      <button class='btn btn-danger' ng-click="launch('error')">Error Dialog</button>
	      <button class='btn btn-primary' ng-click="launch('wait')">Wait Dialog</button>
	      <button class='btn btn-default' ng-click="launch('notify')">Notify Dialog</button>
	      <button class='btn btn-success' ng-click="launch('confirm')">Confirm Dialog</button>
	      <button class='btn btn-warning' ng-click="launch('custom')">Custom Dialog</button>
	      <button class='btn btn-warning' ng-click="launch('custom2')">Custom Dialog 2</button>
	    </div>
	  </div>
	  
	  
	<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button class="btn btn-default" ng-click="open()">Open me!</button>
    <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
    <button class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div>

<ul>

	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	v
	v
	v
	<li>test</li>
	v	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	v
	v
	v
	<li>test</li>
	v	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	v
	v
	v
	<li>test</li>
	v	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	v
	v
	v
	<li>test</li>
	v	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	v
	v
	v
	<li>test</li>
	v	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	v
	v
	v
	<li>test</li>
	v	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	v
	v
	v
	<li>test</li>
	v	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	v
	v
	v
	<li>test</li>
	v	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	v
	v
	v
	<li>test</li>
	v	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	v
	v
	v
	<li>test</li>
	v
</ul>				

</div>
 -->
  </body>
</html>
