<!doctype html>
<html>
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/> <!-- this will make sure to view the movile version in mobile and tablet version in tablet -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>AngularJS Listy</title>  


    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    
    <link href="css/style.css" rel="stylesheet">
    
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
     <script type="text/javascript" src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
     <script type="text/javascript" src="lib/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/services.js"></script>   
     <script type="text/javascript" src="js/filters.js"></script>	
        
      	<script type="text/javascript" src="i18n/angular-locale_ar-sa.js"></script>
      	<script type="text/javascript" src="lib/localize/localize.js"></script>

 	    
 	


  </head>
  <body>

<div ng-app="listyApp">





<div class="box">
	<h1>CSS3 shuffled paper effect</h1>
	<p>This example creates a shuffled paper effect using HTML and CSS3.</p>
	<p>You simply need to apply a class of "papers" to any element containing content.</p>
	<p>The paper effects can be modified in the CSS to change the width, padding, margin, color, border, angle of rotation, etc. The background paper is applied using :before and :after pseudo elements.</p>
	<p>You're welcome to copy or use the code in your own projects. It would be great if you could 
		link back to <a href="http://www.sitepoint.com/css3-shuffled-paper/">the explanitory article at SitePoint.com</a> or <a href="http://twitter.com/craigbuckler">follow @craigbuckler on Twitter</a>&hellip;</p>
	<p>I hope you like it!</p>



       <ul>
       
       	<li>test   1</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
<li>test</li>
       	       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
<li>test</li>
       	       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
<li>test</li>
       	       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
<li>test</li>
       	       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
<li>test</li>
       	       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
<li>test</li>
       	       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
       	<li>test</li>
<li>test</li>
       	
       
       </ul>
        
     </div>   
 
<!-- 


<div class="container" ng-controller="AccordionDemoCtrl">

  	   <div class='row'>
	    <div class='col-md-12'>
	      <button class='btn btn-danger' ng-click="launch('error')">Error Dialog</button>
	      <button class='btn btn-primary' ng-click="launch('wait')">Wait Dialog</button>
	      <button class='btn btn-default' ng-click="launch('notify')">Notify Dialog</button>
	      <button class='btn btn-success' ng-click="launch('confirm')">Confirm Dialog</button>
	      <button class='btn btn-warning' ng-click="launch('custom')">Custom Dialog</button>
	      <button class='btn btn-warning' ng-click="launch('custom2')">Custom Dialog 2</button>
	    </div>
	  </div>
	  
	  
	<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button class="btn btn-default" ng-click="open()">Open me!</button>
    <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
    <button class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div>

<ul>

	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	v
	v
	v
	<li>test</li>
	v	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	v
	v
	v
	<li>test</li>
	v	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	v
	v
	v
	<li>test</li>
	v	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	v
	v
	v
	<li>test</li>
	v	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	v
	v
	v
	<li>test</li>
	v	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	v
	v
	v
	<li>test</li>
	v	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	v
	v
	v
	<li>test</li>
	v	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	v
	v
	v
	<li>test</li>
	v	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	v
	v
	v
	<li>test</li>
	v	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	<li>test</li>
	v
	v
	v
	<li>test</li>
	v
</ul>				

</div>
 -->
  </body>
</html>
