/* .navbar-inner{
    position:relative;
    padding-left:70px;
} */
/* .navbar .brand {
    margin-left: 0px;
    font-size: 20px;
    font-weight: 200;
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
    position: absolute;
    width: 50px;
    background: #f00;
    left: 0px;
    top: 0px;
    padding: 10px;
}
 */
body {
		  font: 400 13px/20px 'Roboto','Helvetica Neue',Helvetica,sans-serif;
		  line-height: 20px;
}


.navbar {
/* 	min-height:35px !important;
	background: #36a5d3;
 -webkit-box-shadow: 2px 2px 2px #d9d9d7;
    -moz-box-shadow:    2px 2px 2px #d9d9d7;
    box-shadow:         2px 2px 2px #d9d9d7;
    z-index:999;
    height: 35px; */
	}
	


.navbar .nav>li>a {
/*   float: none;

  color: white;
  text-decoration: none;

	font-size: 12px;
  
      padding-top:8px !important; 
    padding-bottom:0 !important;
    height: 35px; */
}
/* .navbar-brand { margin-top: 15px; max-width: 30%; padding: 0; } */

.navbar-brand {
	
/* 	font-family: sans-serif;
	font-size: 24px;
	
	text-align: center;
	
	letter-spacing:  -1px;	
	
	color: white;
	
box-shadow: 2px 2px 5px grey; 
background-image: url("imgs/red-basket.jpg");
 */
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  
  border-bottom-color: #B23C3C;

}
.panel-group .panel-heading {
   border-bottom: ;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #B23C3C;
 
}
/*
*********************
*	Media Item
*********************
*/

.category-title {
	
	padding-right: 10px;
	font-size: 22;
	font-stretch: wider;
}

.item-list	{ 
	/*background:#EEE; */
	 position:relative;
	 margin-top: 25px;
	 margin-left: 25px;
     margin-right:  25px;
     
}





.item { 
	/* float:left;  */
	
	margin-left: auto;
    margin-right: auto;
	

	width:120;
	/* height: 55px; */
	
	background:rgba(42, 17, 17, 0.04); 
	border: 1px solid #c0c0c0;
	border-radius: 2px;
	padding:0;
	
	vertical-align : middle;
	
	overflow:hidden; /* clearfix */ 
	
	 -webkit-box-shadow: 2px 2px 2px #d9d9d7;
    -moz-box-shadow:    2px 2px 2px #d9d9d7;
    box-shadow:         2px 2px 2px #d9d9d7;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:right;

}

.row-centered {
    text-align:center;
}


.media-item-title { 
	
	/* height: 50px; */
	
	

	font-size: 15px;
	font-weight:bold;
	border-style: solid;
    /*line-height: 33px;*/
    /*padding-left:3px;	*/
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
            box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);/*no shadows*/
}

.media-item-title.hover{
	
	 background: #c0c0c0;
}

.media-item-title.active{
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
            box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);/*no shadows*/
            
    background: #FF7600; /*checked color*/
   	color:white;
   	border-radius: 0px;
   	
	    -webkit-transition:background-color 150ms ease-in;
	-moz-transition:background-color 150ms ease-in;
	-ms-transition:background-color 150ms ease-in;
	-o-transition:background-color 150ms ease-in;
	transition:background-color 150ms ease-in;
}




.item-image-selected{
	/* padding: 2px 2px 2px 2px; */
	background-color: #FF7600; /*#ff9900; #ff8040 */
}
.item-image-unselected{
	
}


.media-item-footer { 
	width: 100%;
	
	font-size: 14px;
    line-height: 20px;
    padding-left:0px;
    
    margin: auto;
    padding: 0px;
    height :20px;
    
    border-top: 1px solid #c0c0c0;
    direction: rtl;
    
    
}

.media-item-button { 
	text-align: center;
	height:20px;
	width:20px;
	vertical-align: middle;
	cursor: pointer;
	border:none;
	background: transparent;
		
}

.media-item-button:hover {
	opacity: 0.9;
}



.media-details-model-note { 
	text-align: center;
	background: aqua;
	width : 25%;
	float: right;
}

.media-details-model-quantity { 
	text-align: center;
	background: gray;
	width : 25%;
}

.media-details-model-check { 
	text-align: center;
	background: lime;
	width : 25%;
}

.media-thumb { 
	margin-bottom:5px; 
	background:#CCC; 
}

/*
*********************
*	CheckBox
*********************
*/


.fancy-checkbox {
    
}
.fancy-checkbox input[type="checkbox"] {
    display: none;
    
}
 
.fancy-checkbox span:before {
    font-family: "FontAwesome";
    font-style: normal;
    color: #a7a7a7;
    width: 50px;
    height: 50px;
     content: '\F096'; 

    margin-right: .3em;
}
 
.fancy-checkbox input[type="checkbox"]:checked ~ span:before {
     content: '\F14A  '; 
 }


.fa-pencil{
	 color: #a7a7a7;
}



/*****/

.button-checkbox input[type=checkbox] {display:none;}



.button-checkbox span {
background-color:#c0c0c0;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
/* font-weight:700; */
color:#ffffff;

/* font-size:.85em; */
/* letter-spacing:4px; */
text-decoration:none;
/* font-family:sans-serif; */
text-align:center;
/* width:260px; */
padding: 20px 0;
cursor:pointer;
display:block;
margin: 0 auto;
/* -webkit-transition:background-color 150ms ease-in;
-moz-transition:background-color 150ms ease-in;
-ms-transition:background-color 150ms ease-in;
-o-transition:background-color 150ms ease-in;
transition:background-color 150ms ease-in; */
}

 
.button-checkbox span:hover {
background-color:#ff5847;
}

.button-checkbox input[type=checkbox]:checked + span {
background-color:#ff5847;
text-decoration:none;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;

/* background:#ff5847 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAaCAYAAACgoey0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAX9JREFUeNpi+P//PwMNsS4QbwBiLnQ5WlqqAsRP/0PARiBmoYfFkkB8+z8qWALEjLS0mB+IL/3HDibSymJQXB7/jx/UgNSCvU4lwAbEG4DYkwi1WUxUspQZiOcRaSkIWOAKMk0Sg3jaf+IBOIVjMyQWiH8DsR+RljaTYOkBWJ5GNwRk2R+ooh9A7ETA0jwSLL0ATfEYqRpkyVc0xR+A2AyHpdFA/I9IS0F5WhRbAWIEtQQbeAXE6lhC5jeRlj4GYgVsRaYK1HBCmmWgmuyxhAwu8BpaXjNgs/gYkYbcAGIXPCGDDkCOM8eVPkCEFhE+JhX8BGJnfAkTxgC57BOVLAXlihBC2RA9Vf+k0FJQKk8nJv+jCwQi5WNyQAWxpR02wRQS8icy6CKlmMUlUUGipfOQK3lKLAbhdhIKfWZS6258kiAfzCZg6V4gZiOn0UBIAcgn63BYehK50Ke2xQxQH+3FUoqJUtJMIlYhLxAfxVJu09xiWENuMxCrUaNhCBBgAOAVfjALa5TLAAAAAElFTkSuQmCC) no-repeat 7% center; */

 background-size:15px 13px;
}

.button-checkbox input[type=checkbox]:checked:hover + span {
background-color:#dd5244;
color:rgba(255,255,255,0.5);

text-decoration:none;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
/* background:#dd5244 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAS5JREFUeNq8110OgjAMAGBGvIY3VESjt9jPg95PT+LccBIZ7dYOWJPGB+g+Ymg3hLW2QeLkcu/y2pSFdvl0eQevehjI3uXbfkMh96TShFq/xhG6J4faAtxEtSBOQTm4QWpnOBWl4CZT69fuYpiCpnBDrB1xLhrjgoFO8F1oGcFslUv4bV32zFoxmOHJta0XMn65dC0UaiddA8UGiN4axeC1cUkdmWviEls/NwL1FqjPNtNvoimPdC3yRCUTiTXbt0R/oSnw2iiK10BBvBY6w2uiE3xJr8oFtcrvxy/fVcyeVdGx98yotcOxN/znHeMUIhdMOG8c4reagssF43VEoT5O4ZJwvNUUFJtcEE5BMXyGpnanf5yDxjiI+hSJj7YunEBvhbuTCh9tD+jiR4ABAJ0SrJgNr1UAAAAAAElFTkSuQmCC) no-repeat 7% center; */

 background-size:15px 15px;
}

.button-checkbox span:before  {

color:#ffff00;
}
/*
*********************
*	Site - Footer
*********************
*/

.brand_title{
    /* letter-spacing: -6px; */
    font-family:monospace;
    font-size:22px;
    color:#555;
    text-shadow:-1px 0 #fff,
				0 1px #fff,
				1px 0 #fff,
				0 -1px #fff,
				-2px 0 #fff,
				0 2px #fff,
				2px 0 #fff,
				0 -2px #fff,
				2px 2px 3px #000;
}




